.center__room {
position: absolute;
left: 50%;
display: flex;
flex-direction: column;
width: 50%;
height: 35%;
border-bottom: 1px dashed black;
}

.center__log {
  flex: 1;
  margin: 1vmin;
  text-align: left;
  line-height: 2vmin;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;
}

.center__chat {
  width: 100%;
  margin: 1vmin;
}

.center__chat--form {
  display: flex;
  justify-content: center;
  width: 95%;
}

.center__chat--input {
  width: 90%;
  height: 3vmin;
  background: rgb(191, 234, 163, 0.25);
  padding: 0vmin 1vmin;
  border: 1px solid grey;
  border-right: 0px;
  border-radius: 0.5vmin 0vmin 0vmin 0.5vmin;
  font-size: 1.25vmin;
}

.center__chat--button {
  align-self: center;
  width: 10%;
  font-size: 1.25vmin;
  height: 3vmin;
  border: 1px solid grey;
  border-radius: 0vmin 0.5vmin 0.5vmin 0vmin;
  background: rgb(191, 234, 163, 0.25);
  color: black;
}